{% extends "registration/registration_base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}


{% block persistent_glados %} {% endblock %}

{% block main_div_config %}
<div id="reg_content" class="container">
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-3">
        <img id="glados" src="{% static 'img/glados.png' %}" alt="GLaDOS"/>
    </div>
    <div class="col-md-4 col-sm-5">
        <h2 class="reg-header">Sign Up</h2>
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form form_group_class='signup-input' %}
            <input id="reg-btn" class="btn btn-default" type="submit" value="{% trans 'Register' %}" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p>{% trans "Already a member?" %} <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>.</p>
    </div>
</div>
{% endblock %}



{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}