html {
    background-color: #3b3b3b;
    height: 100%;
}

body {
    height: 100%;
    max-width: 75%;
    background-color: #3b3b3b;
    margin: auto;
}

#navbar {
    background-color: #3b3b3b;
    border-bottom: 10px solid #8bb9ad;
    max-width: 100%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#brand,
#brand:visited,
#brand:hover {
    text-decoration: none;
    font-size: 6rem;
    font-weight: 800;
    float: left;
}

#brand_p1,
#brand_p1:visited,
#brand_p1:hover {
    color: #eeede8;
    text-shadow: 3px 3px 2px #cc5b4a;
 }

 #brand_p2,
 #brand_p2:visited,
 #brand_p2:hover {
    color: #cc5b4a;
    text-shadow: 3px 3px 2px #eeede8;
 }

 #nav_btn_grp {
    float: right;
 }

.nav_btn,
.nav_btn:visited,
.nav_btn:hover {
    text-align: center;
    background-color: #3b3b3b;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    color: #8bb9ad;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    top: 60px;
    margin: 0 3rem;

}

h1,
p,
label {
    color: #eeede8;
}

#main_content {
    clear: both;
}

footer {
    margin: 0, auto;
    text-align: center;
    height: 10px;
    position: relative;
    top: 75%;
}


/* Registration/Login -------------------- */

/* Bootstrap Overrides -------------------- */

.registration-form {
    width: 50%;
}
