{% extends 'base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Edit Album" %}{% endblock %}

{% block main_div_config %}
<div id="main_content_full_width">

{% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
    </div>
    <div class="col-md-6 col-sm-5">
        <h2 class="create-header">Edit Album</h2>
        <form id="album-form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form form_group_class='create' %}
            <input id="reg-btn" class="btn btn-default" type="submit" value="{% trans 'Save Changes' %}" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}