{% extends 'base.html' %}

{% load bootstrap3 %}
{% load thumbnail %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Library" %}{% endblock %}

{% block main_div_config %}
<div id="main_content_full_width">
{% endblock %}

{% block persistent_glados %}
<img id="persistent_img" src="{% static 'img/glados_hanging.png' %}">
{% endblock %}

{% block main %}
<h3>Photos</h3>
<div id="gallery">

{% for photo in user.photos.all %}

    <div class="gallery-item">
        {% thumbnail photo.img "200x200" as im %}
        <img class="thumbnail" src="{{ im.url }}"/>
        {% endthumbnail %}
        <h6>{{ photo.title }}</h6>
    </div>


{% endfor %}
</div>

{% endblock %}



